<% @book.errors.full_messages.each do |message| %>
<div class=form-error>
	<%= message %>
</div>
<% end %>
<%= render"users/sidebar" ,book:@book %>

<h1>Books</h1>
<table>
	<tr>
		<th></th>
		<th>Title</th>
		<th>Opinion</th>
	</tr>
	<tr>
		<% @books.each do |book| %>
			<td><%= book.title %></td>
			<td><%= book.body%></td>
		<% end %>
	</tr>
</table>